.border {
  border: 1pt solid var(--color-border); 
}

.br-1 {
  border-radius: 0.25rem;
}

.br-2 {
  border-radius: 0.5rem;
}

.br-3 {
  border-radius: 0.75rem;
}

.br-4 {
  border-radius: 1rem;
}

.nowrap {
  white-space: nowrap;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}