body .px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
body .py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
body .pl-0 {
  padding-left: 0px !important;
}
body .pr-0 {
  padding-right: 0px !important;
}
body .pt-0 {
  padding-top: 0px !important;
}
body .pb-0 {
  padding-bottom: 0px !important;
}
body .px-1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.py-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.pl-1 {
  padding-left: 4px !important;
}
.pr-1 {
  padding-right: 4px !important;
}
.pt-1 {
  padding-top: 4px !important;
}
.pb-1 {
  padding-bottom: 4px !important;
}
.pa-1 {
  padding: 4px !important;
}
.px-2 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.pl-2 {
  padding-left: 8px !important;
}
.pr-2 {
  padding-right: 8px !important;
}
.pt-2 {
  padding-top: 8px !important;
}
.pb-2 {
  padding-bottom: 8px !important;
}
.pa-2 {
  padding: 8px !important;
}
.px-3 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.py-3 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.pl-3 {
  padding-left: 12px !important;
}
.pr-3 {
  padding-right: 12px !important;
}
.pt-3 {
  padding-top: 12px !important;
}
.pb-3 {
  padding-bottom: 12px !important;
}
.pa-3 {
  padding: 12px !important;
}
.px-4 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.py-4 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.pl-4 {
  padding-left: 16px !important;
}
.pr-4 {
  padding-right: 16px !important;
}
.pt-4 {
  padding-top: 16px !important;
}
.pb-4 {
  padding-bottom: 16px !important;
}
.pa-4 {
  padding: 16px !important;
}
.px-5 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.py-5 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.pl-5 {
  padding-left: 20px !important;
}
.pr-5 {
  padding-right: 20px !important;
}
.pt-5 {
  padding-top: 20px !important;
}
.pb-5 {
  padding-bottom: 20px !important;
}
.pa-5 {
  padding: 20px !important;
}
.px-6 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.py-6 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.pl-6 {
  padding-left: 24px !important;
}
.pr-6 {
  padding-right: 24px !important;
}
.pt-6 {
  padding-top: 24px !important;
}
.pb-6 {
  padding-bottom: 24px !important;
}
.pa-6 {
  padding: 24px !important;
}
.px-7 {
  padding-left: 28px !important;
  padding-right: 28px !important;
}
.py-7 {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}
.pl-7 {
  padding-left: 28px !important;
}
.pr-7 {
  padding-right: 28px !important;
}
.pt-7 {
  padding-top: 28px !important;
}
.pb-7 {
  padding-bottom: 28px !important;
}
.pa-7 {
  padding: 28px !important;
}
.px-8 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.py-8 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.pl-8 {
  padding-left: 32px !important;
}
.pr-8 {
  padding-right: 32px !important;
}
.pt-8 {
  padding-top: 32px !important;
}
.pb-8 {
  padding-bottom: 32px !important;
}
.pa-8 {
  padding: 32px !important;
}
.px-9 {
  padding-left: 36px !important;
  padding-right: 36px !important;
}
.py-9 {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}
.pl-9 {
  padding-left: 36px !important;
}
.pr-9 {
  padding-right: 36px !important;
}
.pt-9 {
  padding-top: 36px !important;
}
.pb-9 {
  padding-bottom: 36px !important;
}
.pa-9 {
  padding: 36px !important;
}
.px-10 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.py-10 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.pl-10 {
  padding-left: 40px !important;
}
.pr-10 {
  padding-right: 40px !important;
}
.pt-10 {
  padding-top: 40px !important;
}
.pb-10 {
  padding-bottom: 40px !important;
}
.pa-10 {
  padding: 40px !important;
}

.px-11 {
  padding-left: 44px !important;
  padding-right: 44px !important;
}
.py-11 {
  padding-top: 44px !important;
  padding-bottom: 44px !important;
}
.pl-11 {
  padding-left: 44px !important;
}
.pr-11 {
  padding-right: 44px !important;
}
.pt-11 {
  padding-top: 44px !important;
}
.pb-11 {
  padding-bottom: 44px !important;
}
.pa-11 {
  padding: 44px !important;
}
.px-12 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}
.py-12 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
.pl-12 {
  padding-left: 48px !important;
}
.pr-12 {
  padding-right: 48px !important;
}
.pt-12 {
  padding-top: 48px !important;
}
.pb-12 {
  padding-bottom: 48px !important;
}
.pa-12 {
  padding: 48px !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.ml-0 {
  margin-left: 0px;
}
.mr-0 {
  margin-right: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mx-1 {
  margin-left: 4px;
  margin-right: 4px;
}
.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.ml-1 {
  margin-left: 4px;
}
.mr-1 {
  margin-right: 4px;
}
.mt-1 {
  margin-top: 4px;
}
.mb-1 {
  margin-bottom: 4px;
}
.mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}
.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.ml-2 {
  margin-left: 8px;
}
.mr-2 {
  margin-right: 8px;
}
.mt-2 {
  margin-top: 8px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mx-3 {
  margin-left: 12px;
  margin-right: 12px;
}
.my-3 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.ml-3 {
  margin-left: 12px;
}
.mr-3 {
  margin-right: 12px;
}
.mt-3 {
  margin-top: 12px;
}
.mb-3 {
  margin-bottom: 12px;
}
.mx-4 {
  margin-left: 16px;
  margin-right: 16px;
}
.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.ml-4 {
  margin-left: 16px;
}
.mr-4 {
  margin-right: 16px;
}
.mt-4 {
  margin-top: 16px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mx-5 {
  margin-left: 20px;
  margin-right: 20px;
}
.my-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ml-5 {
  margin-left: 20px;
}
.mr-5 {
  margin-right: 20px;
}
.mt-5 {
  margin-top: 20px;
}
.mb-5 {
  margin-bottom: 20px;
}
.mx-6 {
  margin-left: 24px;
  margin-right: 24px;
}
.my-6 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.ml-6 {
  margin-left: 24px;
}
.mr-6 {
  margin-right: 24px;
}
.mt-6 {
  margin-top: 24px;
}
.mb-6 {
  margin-bottom: 24px;
}
.mx-7 {
  margin-left: 28px;
  margin-right: 28px;
}
.my-7 {
  margin-top: 28px;
  margin-bottom: 28px;
}
.ml-7 {
  margin-left: 28px;
}
.mr-7 {
  margin-right: 28px;
}
.mt-7 {
  margin-top: 28px;
}
.mb-7 {
  margin-bottom: 28px;
}
.mx-8 {
  margin-left: 32px;
  margin-right: 32px;
}
.my-8 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.ml-8 {
  margin-left: 32px;
}
.mr-8 {
  margin-right: 32px;
}
.mt-8 {
  margin-top: 32px;
}
.mb-8 {
  margin-bottom: 32px;
}
.mx-9 {
  margin-left: 36px;
  margin-right: 36px;
}
.my-9 {
  margin-top: 36px;
  margin-bottom: 36px;
}
.ml-9 {
  margin-left: 36px;
}
.mr-9 {
  margin-right: 36px;
}
.mt-9 {
  margin-top: 36px;
}
.mb-9 {
  margin-bottom: 36px;
}
.mx-10 {
  margin-left: 40px;
  margin-right: 40px;
}
.my-10 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.ml-10 {
  margin-left: 40px;
}
.mr-10 {
  margin-right: 40px;
}
.mt-10 {
  margin-top: 40px;
}
.mb-10 {
  margin-bottom: 40px;
}

.mx-11 {
  margin-left: 44px;
  margin-right: 44px;
}
.my-11 {
  margin-top: 44px;
  margin-bottom: 44px;
}
.ml-11 {
  margin-left: 44px;
}
.mr-11 {
  margin-right: 44px;
}
.mt-11 {
  margin-top: 44px;
}
.mb-11 {
  margin-bottom: 44px;
}
.mx-12 {
  margin-left: 48px;
  margin-right: 48px;
}
.my-12 {
  margin-top: 48px;
  margin-bottom: 48px;
}
.ml-12 {
  margin-left: 48px;
}
.mr-12 {
  margin-right: 48px;
}
.mt-12 {
  margin-top: 48px;
}
.mb-12 {
  margin-bottom: 48px;
}
.mx-14 {
  margin-left: 56px;
  margin-right: 56px;
}

.my-14 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.ml-14 {
  margin-left: 56px;
}

.mr-14 {
  margin-right: 56px;
}

.mt-14 {
  margin-top: 56px;
}

.mb-14 {
  margin-bottom: 56px;
}

.mx-16 {
  margin-left: 64px;
  margin-right: 64px;
}

.my-16 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.ml-16 {
  margin-left: 64px;
}

.mr-16 {
  margin-right: 64px;
}

.mt-16 {
  margin-top: 64px;
}

.mb-16 {
  margin-bottom: 64px;
}