@import '@fontsource-variable/noto-sans-jp';
@import '@fontsource-variable/montserrat';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s, opacity 0.5s;
  line-height: 1.6;
  font-family: 'Noto Sans JP Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

p,
ol,
ul {
  margin-bottom: 0.5rem;
}

a {
  z-index: 10;
}

svg {
  fill: currentColor;
}

@layer components {

  select {
    @apply px-1 h-6 border border-slate-800 cursor-pointer;
  }

  select:hover {
    @apply bg-gray-300;
  }

  button {
    @apply px-1 h-6 border border-slate-800 bg-gray-200;
  }

  button:hover {
    @apply bg-gray-300;
  }

  a:not(.plain) {
    @apply text-blue-600 underline;
    /* @extend .text-blue-600; */

    &:visited {
      @apply text-blue-600;
      /* @extend .text-blue-600; */
    }
  }

  @media (hover: hover) {
    a:not(.plain):not(.nohover):hover {
      @apply bg-slate-100;

      &::before {
        content: " ";
        position: absolute;
        left: -0.1em;
        top: 0;
        height: 100%;
        width: 0.1em;
        @apply bg-slate-100;
      }

      &::after {
        content: " ";
        position: absolute;
        right: -0.1em;
        top: 0;
        height: 100%;
        width: 0.1em;
        @apply bg-slate-100;
      }
    }
  }
}

.inline-code {
  @apply bg-slate-100 py-0.5 px-1 rounded-md;
}

.print-exact {
  print-color-adjust: exact;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

.break-words {
  word-break: break-word;
}

.rhomboid {

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 1rem;
    height: 100%;
    display: inline-block;
    background: inherit;
    z-index: -1;
  }

  &::before {
    left: -1rem;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  }

  &.outline {
    outline-style: none;
    border-top: 2pt solid;
    border-bottom: 2pt solid;

    &::before,
    &::after {
      z-index: 1;
      background: currentColor;
      top: -2pt;
      height: calc(100% + 4pt);
    }

    &::before {
      left: -1rem;
      clip-path: polygon(0 100%, 100% -10%, 100% 6.5%, 22% 93.5%, 100% 93.5%, 100% 100%);
    }

    &::after {
      right: -1rem;
      clip-path: polygon(100% -10%, 0 -10%, 0 6.5%, 70% 6.5%, 0% 93.5%, 0 100%, 10% 100%);
    }
  }

  &::after {
    right: -1rem;
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }

  &.outline {

    &::before,
    &::after {
      background-color: transparent;
    }

    &::before {
      clip-path: unset;
      transform: skew(-15deg, 0);
      left: -0.5rem;
      width: calc(100% + 1rem);
    }
  }
}